@import './../../colors';

.home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-text {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        font-size: 40px;
        background: $dark-blue-darker;
    }

    .movie-container {
        background-color: $dark-blue-darker;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        .movie {
            display: flex;
            flex-direction: column;
            margin: 10px;

            img {
                border-radius: 5px;
            }

            .movie-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .movie-title {
                    font-size: 30px;
                    width: 300px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        @media only screen and (max-width: 475px) {
            .movie {
                width: 250px;

                img {
                    width: 100%;
                }

                .movie-info {
                    .movie-title {
                        width: 100%;
                    }
                }
            }
        }

        .arrow-container {
            width: 4em;
            height: 4em;
            border-radius: 50%;

            transition: all 0.4s;

            &:hover {
                cursor: pointer;
                background: rgba(white, 0.1);
            }

            .arrow {
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                border: solid rgba(white, 0.3);
                border-width: 0.5em 0.5em 0 0;

                &.left {
                    margin-top: 1.05em;
                    margin-left: 0.6em;
                    transform: rotate(-135deg);
                }

                &.right {
                    margin-top: 1.05em;
                    margin-left: -0.6em;
                    transform: rotate(45deg);
                }
            }
        }
    }
}