@import './../../colors';

.home {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-text {
        width: 100%;
        margin: 0;
        padding: 20px 0;
        font-size: 40px;
        background: $dark-blue-darker;
    }

    .movie-container {
        background-color: $dark-blue-darker;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        .movie {
            display: flex;
            flex-direction: column;
            margin: 10px;

            img {
                border-radius: 5px;
            }

            .movie-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .movie-title {
                    font-size: 30px;
                    width: 300px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }
        }
    }
}