@import './../../colors';

.movie-page {
    display: flex;
    justify-content: center;

    .movie {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 1000px;
        background: darken($dark-blue, $amount: 3);

        img {
            border-radius: 5px;
            margin: 10px 0 0 0;
        }

        .movie-info {
            flex-grow: 2;
            display: flex;
            height: 100%;
            flex-direction: column;
            align-items: flex-start;
            width: 97.5%;

            .title {
                align-self: center;
                font-size: 60px;
                text-align: center;
            }

            .extra-info {
                margin: 5px 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: left;

                div {
                    padding: 10px;

                    .subject {
                        color: $yellow;
                    }
                }

                div:nth-of-type(even) {
                    background: $dark-blue-darker;
                }
                div:nth-of-type(odd) {
                    background: $dark-blue-darkest;
                }
            }
        }
    }
}