/* Color Theme Swatches in RGBA */
$dark-blue: #003056;
$dark-blue-darker: #00294b;

$navy-blue: #05518b;
$navy-blue-darker: #064b80;
$navy-blue-darkest: #043a63;

$light-blue: #00a1d8;

$mint-green: #46d9bf;

$yellow: #f2d03b;