/* Color Theme Swatches in RGBA */
$dark-blue: #003056;
$dark-blue-darker: #00294b;
$dark-blue-darkest: #001e36;

$navy-blue: #05518b;
$navy-blue-darker: #064b80;
$navy-blue-darkest: #043a63;

$light-blue: #00a1d8;

$mint-green: #46d9bf;

$yellow-lightest: rgb(247, 221, 105);
$yellow-lighter: #f0d55c;
$yellow: #f2d03b;
$yellow-darker: #d4b732;