/* Color Theme Swatches in RGBA */
$main-dark-blue: rgb(0, 48, 86);

$main-navy-blue: rgb(5, 81, 139);
$main-darker-navy-blue: rgb(6, 75, 128);
$main-darker-hover-navy-blue: rgb(4, 58, 99);

$main-light-blue: rgb(0, 161, 216);

$main-mint-green: rgb(70, 217, 191);

$main-yellow: rgb(242, 208, 59);